body {
	background-image: URL(img/messi.jpg);
	background-size: 100%;
}
.container {
	background-color: orange;
	width: 850px;
	margin: auto;
}
.h1 {
	color: salmon;
	text-align: center;
	font-size: 40px;
	margin-bottom: 35px;
}